.gallery {
  margin-top: 50px;
}

.heading_para {
  font-family: Courgette;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
}

.heading_gallery {
  font-family: Cinzel;
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-align: center;
}

.img_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery_img {
  width: 400px;
  height: 500px;
}

.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
}

@media screen and (max-width: 1270px) {
  .gallery {
    margin-top: 50px;
  }

  .heading_para {
    font-family: Courgette;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .heading_gallery {
    font-family: Cinzel;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .gallery_img {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .gallery {
    margin-top: 70px;
  }

  .heading_para {
    font-family: Courgette;
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .heading_gallery {
    font-family: Cinzel;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .gallery_img {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  .gallery {
    margin-top: 30px;
  }

  .heading_para {
    font-family: Courgette;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 0;
  }

  .heading_gallery {
    font-family: Cinzel;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
  }

  .gallery_img {
    width: 300px;
    height: 400px;
  }
}
